/*====================== IMPORT GOOLE FONTS ======================*/

/*==================== BASIC STYLE =====================*/
body{
      background-color:white;
	  background-image:url('images/bg.jpg');
      background-repeat:no-repeat;
      background-position:center top; 

}
  img {
    max-width: 100% !important;
  }
.container{
    padding: 0 30px;
    position: relative;
}
.container:before{
    content: " ";
    height: 5px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 1;
}
.container > .row{
    margin-bottom: 40px;
}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

    #carousel-indicators {
    bottom: -4px;
}

    
	#copyright{

	text-align:center;
	}
	
@font-face
{
font-family: myfont;
src: url('xingshu.ttf'); /* IE9 */
}


.locate0,.locate1,.locate2{
vertical-align: bottom;
position: absolute;
font-family:myfont;
}	
.locate0 a{
text-decoration: none;
color:black;
font-size:55px;
}
.locate1 a{
text-decoration: none;
color:black;
font-size:55px;
}

.locate2 a{
text-decoration: none;
color:black;
font-size:55px;
}
.locate0 a:hover{
color:#976763;
}
.locate1 a:hover{
color:#976763;
}
.locate2 a:hover{
color:#976763;
}
.locate1{
bottom: 170px;
right:310px;
}
.locate2{
bottom: 250px;
right:180px;
}
.locate0{
bottom: 810px;
right:180px;
}}


/*====================== TYPOGRAPHY ======================*/
h1, h2, h3, h4, h5, h6,
#menu > li > a,
#home_slider .num span,
.latest-blog .lb-title li,
#footer .date,
#copyright #footer-menu a,
.latest-post span,
.btn,
#sidebar .recent-comments span{
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 0.05em;
}



h1, h2, h3, h4, h5, h6{

	color: #414042
	
}
h1{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    letter-spacing:5px;
}
h2{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
	text-align:center;
}
h3{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}
h4{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 10px;
}
h5{
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 8px;
}
h6{
    font-size: 8px;
    line-height: 20px;
    margin-bottom: 5px;
}

h2 a{
    font-size: 14px;
}

p{margin-bottom: 20px;}
* p:last-child{margin-bottom: 0 !important;}


ul{

}

.p-text {
display: block;
padding: 20px;
text-align: center;
position: relative;
z-index: 1000;
}



/*==================== LINKS =====================*/
a{
    text-decoration: none;
    -webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
a:hover{
 color:blue;
}





/*==================== ALIGN =====================*/
.alignleft{float: left !important;}
.alignright{float: right !important;}
.aligncenter{text-align:center;}

.clear{
    clear: both;
}


/*==================== DIV=====================*/

.col-md-3{
    padding-top: 30px;
}
.caption{
    background-color:grey;
}
.thumbnail{
margin-bottom:none;
}
.row img
{
opacity:0.9;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.mb{
padding-top:15px;
padding-left:800px;
width:1000px;
height:500px;
margin-left:100px;
}




